nav {
    background-color: red;
    padding: 5px;
    
    border-radius: 5px ;
}

nav ul li{
    list-style-type: none;
    background-color: gold;
    display:inline;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

nav ul li a {
    color:black;
    text-decoration: none;
}
nav ul li:hover{
    background-color: yellow;
}
nav ul {
    text-align: center;
    font-size: 1.2em
}
#active {
    background-image: url(../image/ghana.jpeg);
    background-size: cover;
}
.logo{
    float: left; height: 60px;width: 60px;
}
header{
    background-image: url(../image/Arch.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color:#722F37;
    border-radius: 5px;
    
    
}

#bigPic{
    width: 100%;
}
.showimages{
    float: left;
    width: 30%;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;}     /*top margin is  0
                                   right margin is 10px
                                  bottom margin is 0
                                   left margin is 10px*/


section.manager{
    
    overflow: auto;
}                                  
.col_detail{
    column-count: 3;
    column-gap: 50px;
    padding: 2px;
    text-align: justify;
} 
footer nav{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
footer nav ul li{
    background-color: gold;
    padding: 5px;
    border:1px solid black;
    border-radius: 5px ;
    
}
footer ul li a{
    color: black;
    text-decoration: none;
    display: inline;
    border: none   ;
}
footer{
    clear: both;
    border: 1px solid orange;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: grey;
    text-align: center;
    border-radius: 5px;
}
aside{

    border:1px solid rgb(255, 0, 0);
    float: right;
    width: 18%;
}

aside ul li{
    list-style-type: none;
    text-decoration: none;
}
aside ul li a{
    color: #009dff;
    text-decoration: none;
}
body{
    font-family: 'roboto',sans-serif;
    background-color: gold;
    color: black;

}
p{
    text-align: justify;
    padding: 2px;
}
.course{
    text-align: center;
    border: 1px solid white;
    padding: 10px;
}
.videoContent{
    float:right;
    width:49%;
    border: 2px solid white;
    max-height: 450px;
    min-height: 450px;
    overflow: auto;
    
}
.backgroundImage{
    background-image: url(../image/Arch.jpeg);
    background-size: auto;
    background-size:cover;
    
    

}
.backgroundImageC{
    background-image: url(../image/carrots.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundImageE{
    background-image: url(../image/eggs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: black;
}
H1{
    
    color: black;
    
    font-size: 50px;
}
a {
    color: black;
}
h3
{
    color: red;
}
h2
{
    color: red;
}

.picBig
{   
    
    position: absolute;
    width: 0px;
    -webkit-transition: width 0.3s linear 0s;
    transition: width 0.3s linear 0s; z-index: 10;
    
    
    
}
.pic:hover + .picBig{
    width: 25%;
    

}



